body{
    text-align: center;
    background-color: lightblue;
    color: white;
}
hr {
    width: 200px;
    height: 2px;
    background-color: gold;
}
#GameBoard{
    width: 450px;
    height: 400px;
    margin: 0 auto;

    background-color: grey;
    color: white;
    border: 2px solid gold;
    border-radius: 10px;

}

.game-cell{
    border: 2px solid;
    border-radius: 10px;
    font-size: 100px;
}